<div id="<%= dom_id course1 %>">
<div class="col-md-4 col-lg-4 col-12">
<div class="card-footer">
  <p class="card-title">

  <div class="card h-100">
  <div class="card-header">
    <strong>Title:</strong>
    <%= course1.title %>
    </div>
  </p>
  <p class="card-text"> 
    <strong>Description:</strong>
    <%= course1.description %>
  </p>

  <ul class="list-group list-group-flush">
  <p class="card-text" > 
    <strong class="fa fa-user"> User email:</strong>
    <b style="color:red;"><%= course1.user.email %></b>
  </p>
  </ul>

  <ul class="list-group list-group-flush">
  <p class="card-text"> 
    <strong class="fa fa-dollar"> Price:</strong>
    <%= course1.price %>
  </p>
  </ul>
  <ul class="list-group list-group-flush">
  <p class="card-text"> 
    <strong class="fa fa-language">
    <%= course1.language %> </strong>  |  <strong class="fa fa-signal"> <%= course1.level %></strong>
  </p>
  </ul>
  <ul class="list-group list-group-flush">
  <p class="card-text"> 
    <strong class="fa fa-book">
    <%= course1.lesson1s.count %> </strong>  
  </p>
  </ul>
</div>
</div>
</div>
</div>
