<p style="color: green"><%= notice %></p>
<table>
<h1>Course1s</h1>

<div id="course1s">
  <% @course1s.each do |course1| %>
    <%= render course1 %>
    <p>
      <%= link_to "Show this course1", course1, class: "btn btn-danger btn-sm" %>
    </p>
  <% end %>
</div>

<%= link_to "New course1", new_course1_path %>
</table>


<%= paginate @course1s %>