<p style="color: green"><%= notice %></p>

<%= render @course1 %>

<div>
  <%= link_to "Edit this course1", edit_course1_path(@course1), class: "btn btn-primary btn-sm" %> |
  <%= link_to "Back to course1s", course1s_path %>

  <%= button_to "Destroy this course1", @course1, method: :delete, class: "btn btn-danger btn-sm" %>
</div>
