<p style="color: green"><%= notice %></p>

<%= render @lesson1 %>

<div>
  <%= link_to "Edit this lesson1", edit_lesson1_path(@lesson1) %> |
  <%= link_to "Back to lesson1s", lesson1s_path %>

  <%= button_to "Destroy this lesson1", @lesson1, method: :delete %>
</div>
